In [1]:
import pandas as pd
import numpy as np
from regression_inference import OrdinalLogisticRegression, summary
from statsmodels.miscmodels.ordinal_model import OrderedModel
import statsmodels.api as sm

In [2]:
anes_data = sm.datasets.anes96.load()
anes_exog = anes_data.exog
X=pd.DataFrame(anes_exog)
y=pd.Series(anes_data.endog)

In [3]:
model = OrdinalLogisticRegression().fit(X, y)

/tmp/ipykernel_222795/649552115.py:1: UserWarning:
Optimization did not converge after 100 iterations.
Optimizer message: Desired error not necessarily achieved due to precision loss.
Consider:
- Increasing max_iter
- Adjusting tolerance
- Scaling features
- Checking for separation issues
- Ensuring sufficient samples per class

  model = OrdinalLogisticRegression().fit(X, y)

In [4]:
print(model)

=============================================
Ordinal Regression Results
---------------------------------------------
Dependent:                                PID
---------------------------------------------

logpopul                           -0.0707***
                                     (0.0191)

selfLR                              1.0192***
                                     (0.0533)

age                                   -0.0042
                                     (0.0037)

educ                                0.1777***
                                     (0.0408)

income                              0.0472***
                                     (0.0108)

0:1                                 3.6891***
                                     (0.3729)

1:2                                 4.9406***
                                     (0.3837)

2:3                                 5.6492***
                                     (0.3951)

3:4                                 5.9067***
                                     (0.4000)

4:5                                 6.5607***
                                     (0.4120)

5:6                                 7.7405***
                                     (0.4316)

---------------------------------------------
Accuracy                                0.388
Pseudo R-squared                        0.146
LR Statistic                          511.454
Observations                          944.000
Log Likelihood                      -1494.620
Null Log Likelihood                 -1750.347
Deviance                             2989.239
Null Deviance                        3500.693
AIC                                  3011.239
BIC                                  3064.590
=============================================
*p<0.1; **p<0.05; ***p<0.01

In [5]:
model_adj = OrdinalLogisticRegression().fit(X, y, adj_cutpoints=True)
print(model_adj)

=============================================
Ordinal Regression Results
---------------------------------------------
Dependent:                                PID
---------------------------------------------

logpopul                           -0.0707***
                                     (0.0191)

selfLR                              1.0192***
                                     (0.0533)

age                                   -0.0042
                                     (0.0037)

educ                                0.1777***
                                     (0.0408)

income                              0.0472***
                                     (0.0108)

0:1                                 3.6891***
                                     (0.3729)

1:2                                 0.2243***
                                     (0.0686)

2:3                                -0.3445***
                                     (0.0910)

3:4                                -1.3565***
                                     (0.1607)

4:5                                -0.4247***
                                     (0.0979)

5:6                                  0.1653**
                                     (0.0752)

---------------------------------------------
Accuracy                                0.388
Pseudo R-squared                        0.146
LR Statistic                          511.454
Observations                          944.000
Log Likelihood                      -1494.620
Null Log Likelihood                 -1750.347
Deviance                             2989.239
Null Deviance                        3500.693
AIC                                  3011.239
BIC                                  3064.590
=============================================
*p<0.1; **p<0.05; ***p<0.01

/tmp/ipykernel_222795/639287691.py:1: UserWarning:
Optimization did not converge after 100 iterations.
Optimizer message: Desired error not necessarily achieved due to precision loss.
Consider:
- Increasing max_iter
- Adjusting tolerance
- Scaling features
- Checking for separation issues
- Ensuring sufficient samples per class

  model_adj = OrdinalLogisticRegression().fit(X, y, adj_cutpoints=True)

In [6]:
pd.DataFrame(model.inference_table())

,feature,coefficient,std_error,z_statistic,P>|t|,ci_low_0.05,ci_high_0.05
0,logpopul,-0.0707,0.0191,-3.7001,0.000,-0.1082,-0.0333
1,selfLR,1.0192,0.0533,19.1178,0.000,0.9147,1.1237
2,age,-0.0042,0.0037,-1.1155,0.265,-0.0115,0.0032
3,educ,0.1777,0.0408,4.3559,0.000,0.0977,0.2576
4,income,0.0472,0.0108,4.3843,0.000,0.0261,0.0683
5,0:1,3.6891,0.3729,9.8920,0.000,2.9582,4.42
6,1:2,4.9406,0.3837,12.8760,0.000,4.1885,5.6926
7,2:3,5.6492,0.3951,14.2991,0.000,4.8748,6.4235
8,3:4,5.9067,0.4,14.7650,0.000,5.1226,6.6908
9,4:5,6.5607,0.412,15.9246,0.000,5.7532,7.3682
10,5:6,7.7405,0.4316,17.9346,0.000,6.8946,8.5864

In [7]:
pd.DataFrame(model_adj.inference_table())

,feature,coefficient,std_error,z_statistic,P>|t|,ci_low_0.05,ci_high_0.05
0,logpopul,-0.0707,0.0191,-3.7001,0.000,-0.1082,-0.0333
1,selfLR,1.0192,0.0533,19.1178,0.000,0.9147,1.1237
2,age,-0.0042,0.0037,-1.1155,0.265,-0.0115,0.0032
3,educ,0.1777,0.0408,4.3559,0.000,0.0977,0.2576
4,income,0.0472,0.0108,4.3843,0.000,0.0261,0.0683
5,0:1,3.6891,0.3729,9.8920,0.000,2.9582,4.42
6,1:2,0.2243,0.0686,3.2722,0.001,0.09,0.3587
7,2:3,-0.3445,0.091,-3.7848,0.000,-0.5229,-0.1661
8,3:4,-1.3565,0.1607,-8.4433,0.000,-1.6713,-1.0416
9,4:5,-0.4247,0.0979,-4.3393,0.000,-0.6165,-0.2328
10,5:6,0.1653,0.0752,2.1989,0.028,0.018,0.3127

In [8]:
pd.DataFrame(model.predict([5, 6, 32, 4, 20], return_table=True))

,features,prediction_class,prediction_expected,prediction_probabilities,cumulative_probabilities
0,"[{'logpopul': '5.00', 'selfLR': '6.00', 'age':...",6,4.581,"[0.0268, 0.0609, 0.0757, 0.0383, 0.1253, 0.285...","[0.0268, 0.0877, 0.1634, 0.2017, 0.327, 0.6125..."

In [9]:
pd.DataFrame(model.predict([5, 6, 32, 4, 20], return_table=False))

          0         1         2         3         4         5         6
0  0.026766  0.060938  0.075657  0.038314  0.125307  0.285532  0.387486

In [10]:
pd.DataFrame(model_adj.predict([5, 6, 32, 4, 20], return_table=True))

,features,prediction_class,prediction_expected,prediction_probabilities,cumulative_probabilities
0,"[{'logpopul': '5.00', 'selfLR': '6.00', 'age':...",6,4.581,"[0.0268, 0.0609, 0.0757, 0.0383, 0.1253, 0.285...","[0.0268, 0.0877, 0.1634, 0.2017, 0.327, 0.6125..."

In [11]:
pd.DataFrame(model_adj.predict([5, 6, 32, 4, 20], return_table=False))

          0         1         2         3         4         5         6
0  0.026766  0.060938  0.075657  0.038314  0.125307  0.285532  0.387486

In [12]:
pd.DataFrame(model.variance_inflation_factor())

  feature     VIF
0  selfLR  1.0246
1     age  1.0332
2    educ  1.2008
3  income  1.1697