# GIQL operators demo using DuckDB query engine

This notebook demonstrates the 7 core GIQL operators:
- **Binary predicates**: INTERSECTS, WITHIN, CONTAINS
- **Aggregation operators**: MERGE, CLUSTER
- **UDF operators**: DISTANCE
- **Table-valued functions**: NEAREST

For each operator, we:
1. Create a GIQL query
2. Transpile it to standard SQL using GIQL
3. Execute the SQL using DuckDB

In [1]:
import polars as pl
import sqlparse

from giql import GIQLEngine

## Load BED files

Load the two ENCODE ChIP-seq peak files as Polars DataFrames.

In [2]:
# Load BED files with standard BED column names
bed_schema = {
    "chromosome": pl.Utf8,
    "start_pos": pl.Int64,
    "end_pos": pl.Int64,
    "name": pl.Utf8,
    "score": pl.Int64,
    "strand": pl.Utf8,
    "signal_value": pl.Float64,
    "p_value": pl.Float64,
    "q_value": pl.Float64,
    "peak": pl.Int64,
}

# Load first BED file
features_a = pl.read_csv(
    ".ENCFF199YFA.bed", separator="\t", has_header=False, schema=bed_schema
)

# Load second BED file
features_b = pl.read_csv(
    ".ENCFF205OKL.bed", separator="\t", has_header=False, schema=bed_schema
)

print(f"Features A: {len(features_a)} intervals")
print(f"Features B: {len(features_b)} intervals")
print("\nFeatures A preview:")
features_a.head()

Features A: 60893 intervals
Features B: 46196 intervals

Features A preview:

shape: (5, 10)
┌────────────┬───────────┬───────────┬──────┬───┬──────────────┬─────────┬─────────┬──────┐
│ chromosome ┆ start_pos ┆ end_pos   ┆ name ┆ … ┆ signal_value ┆ p_value ┆ q_value ┆ peak │
│ ---        ┆ ---       ┆ ---       ┆ ---  ┆   ┆ ---          ┆ ---     ┆ ---     ┆ ---  │
│ str        ┆ i64       ┆ i64       ┆ str  ┆   ┆ f64          ┆ f64     ┆ f64     ┆ i64  │
╞════════════╪═══════════╪═══════════╪══════╪═══╪══════════════╪═════════╪═════════╪══════╡
│ chr17      ┆ 27381032  ┆ 27381306  ┆ .    ┆ … ┆ 461.10586    ┆ -1.0    ┆ 5.08726 ┆ 136  │
│ chr7       ┆ 25565932  ┆ 25566199  ┆ .    ┆ … ┆ 457.60096    ┆ -1.0    ┆ 5.08726 ┆ 133  │
│ chr7       ┆ 143215117 ┆ 143215391 ┆ .    ┆ … ┆ 443.34712    ┆ -1.0    ┆ 5.08726 ┆ 139  │
│ chr2       ┆ 164600030 ┆ 164600306 ┆ .    ┆ … ┆ 442.64446    ┆ -1.0    ┆ 5.08726 ┆ 137  │
│ chr15      ┆ 56246046  ┆ 56246359  ┆ .    ┆ … ┆ 438.56423    ┆ -1.0    ┆ 5.08726 ┆ 154  │
└────────────┴───────────┴───────────┴──────┴───┴──────────────┴─────────┴─────────┴──────┘

## Setup GIQL engine

Create a GIQL engine and register the table schemas.

In [3]:
# Create GIQL engine with DuckDB backend
engine = GIQLEngine(target_dialect="duckdb", verbose=False)

# Register DataFrames
engine.conn.register("features_a", features_a.to_pandas())
engine.conn.register("features_b", features_b.to_pandas())

# Register schemas with genomic columns
schema_dict = {
    "chromosome": "VARCHAR",
    "start_pos": "BIGINT",
    "end_pos": "BIGINT",
    "name": "VARCHAR",
    "score": "BIGINT",
    "strand": "VARCHAR",
    "signal_value": "DOUBLE",
    "p_value": "DOUBLE",
    "q_value": "DOUBLE",
    "peak": "BIGINT",
}

for table in ["features_a", "features_b"]:
    engine.register_table_schema(table, schema_dict, genomic_column="position")

print("GIQL engine configured successfully")

GIQL engine configured successfully

---

## 1. INTERSECTS operator

Find features in A that **overlap** with features in B.

**GIQL Query**: `SELECT a.* FROM features_a a, features_b b WHERE a.position INTERSECTS b.position`

In [4]:
# Define GIQL query
giql_query = """
    SELECT DISTINCT a.*
    FROM features_a a, features_b b
    WHERE a.position INTERSECTS b.position
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} overlapping intervals from A")
result.head(10)

Transpiled SQL:
SELECT DISTINCT a.*
FROM
  features_a AS a,
  features_b AS b
WHERE (a."chromosome" = b."chromosome"
       AND a."start_pos" < b."end_pos"
       AND a."end_pos" > b."start_pos")

================================================================================

Result: 42616 overlapping intervals from A

,chromosome,start_pos,end_pos,name,score,strand,signal_value,p_value,q_value,peak
0,chr22,19953701,19953957,.,1000,.,390.93901,-1.0,5.08726,131
1,chr13,75549275,75549497,.,1000,.,314.02895,-1.0,5.08726,111
2,chr20,52937930,52938139,.,1000,.,242.96853,-1.0,5.08726,110
3,chr16,77584318,77584523,.,1000,.,237.00123,-1.0,5.08726,107
4,chr16,81403612,81403816,.,1000,.,244.89039,-1.0,5.08726,103
5,chr9,97411765,97412044,.,1000,.,328.74736,-1.0,5.08726,129
6,chr9,137236518,137236806,.,1000,.,323.80804,-1.0,5.08726,138
7,chr20,63537989,63538200,.,1000,.,272.24062,-1.0,5.08726,98
8,chr10,86377275,86377511,.,1000,.,256.93284,-1.0,5.08726,125
9,chr15,77633500,77633787,.,1000,.,380.81693,-1.0,5.08726,140

### High overlap depth regions

Find regions with high overlap depth (where many intervals overlap) using a self-join.

In [5]:
# Define GIQL query to find high-depth overlaps
giql_query = """
    WITH overlap_counts AS (
        SELECT 
            a.chromosome,
            a.start_pos,
            a.end_pos,
            a.signal_value,
            COUNT(*) as depth
        FROM features_b a
        INNER JOIN features_a b ON a.position INTERSECTS b.position
        GROUP BY a.chromosome, a.start_pos, a.end_pos, a.signal_value
    )
    SELECT *
    FROM overlap_counts
    WHERE depth >= 2
    ORDER BY depth DESC
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} intervals with overlap depth >= 5")
print(f"Max overlap depth: {result['depth'].max() if len(result) > 0 else 0}")
result.head(10)

Transpiled SQL:
WITH overlap_counts AS
  (SELECT
     a.chromosome,
     a.start_pos,
     a.end_pos,
     a.signal_value,
     COUNT(*) AS depth
   FROM features_b AS a
   INNER JOIN features_a AS b ON (a."chromosome" = b."chromosome"
                                  AND a."start_pos" < b."end_pos"
                                  AND a."end_pos" > b."start_pos")
   GROUP BY
     a.chromosome,
     a.start_pos,
     a.end_pos,
     a.signal_value)
SELECT *
FROM overlap_counts
WHERE depth >= 2
ORDER BY depth DESC

================================================================================

Result: 109 intervals with overlap depth >= 5
Max overlap depth: 2

  chromosome  start_pos    end_pos  signal_value  depth
0       chr2  219541562  219541786      66.90432      2
1      chr17   45971661   45971971      18.47366      2
2      chr15   76059040   76059350       3.48873      2
3       chrX  107272374  107272684      21.60152      2
4       chr6  132279569  132280035     151.44008      2
5      chr11   65932320   65932630      11.78241      2
6      chr14  105999441  105999603      37.33685      2
7       chr2  170928770  170929192     167.70019      2
8       chr7   47475079   47475389      17.00878      2
9       chr2  176140701  176141011       5.54295      2

---

## 2. WITHIN operator

Find features in A that are **completely contained within** features in B.

**GIQL Query**: `SELECT a.* FROM features_a a, features_b b WHERE a.position WITHIN b.position`

In [6]:
# Define GIQL query
giql_query = """
    SELECT DISTINCT a.*
    FROM features_a a, features_b b
    WHERE a.position WITHIN b.position
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} intervals from A contained within B")
result.head(10)

Transpiled SQL:
SELECT DISTINCT a.*
FROM
  features_a AS a,
  features_b AS b
WHERE (a."chromosome" = b."chromosome"
       AND a."start_pos" >= b."start_pos"
       AND a."end_pos" <= b."end_pos")

================================================================================

Result: 30806 intervals from A contained within B

,chromosome,start_pos,end_pos,name,score,strand,signal_value,p_value,q_value,peak
0,chr20,52937930,52938139,.,1000,.,242.96853,-1.0,5.08726,110
1,chr16,81403612,81403816,.,1000,.,244.89039,-1.0,5.08726,103
2,chr20,3250135,3250335,.,1000,.,274.74729,-1.0,5.08726,95
3,chr9,92634770,92634990,.,1000,.,313.09355,-1.0,5.08726,113
4,chr9,33722162,33722428,.,1000,.,391.35401,-1.0,5.08726,132
5,chr8,22909069,22909276,.,1000,.,245.13028,-1.0,5.08726,107
6,chr4,182925334,182925586,.,1000,.,284.15090,-1.0,5.08726,135
7,chr17,51322469,51322723,.,1000,.,383.45857,-1.0,5.08726,127
8,chr5,43627096,43627315,.,1000,.,304.51285,-1.0,5.08726,115
9,chr11,2419724,2419926,.,1000,.,247.25473,-1.0,5.08726,104

---

## 3. CONTAINS operator

Find features in A that **completely contain** features in B.

**GIQL Query**: `SELECT a.* FROM features_a a, features_b b WHERE a.position CONTAINS b.position`

In [7]:
# Define GIQL query
giql_query = """
    SELECT DISTINCT a.*
    FROM features_a a, features_b b
    WHERE a.position CONTAINS b.position
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} intervals from A that contain B")
result.head(10)

Transpiled SQL:
SELECT DISTINCT a.*
FROM
  features_a AS a,
  features_b AS b
WHERE (a."chromosome" = b."chromosome"
       AND a."start_pos" <= b."start_pos"
       AND a."end_pos" >= b."end_pos")

================================================================================

Result: 4917 intervals from A that contain B

,chromosome,start_pos,end_pos,name,score,strand,signal_value,p_value,q_value,peak
0,chr13,48095092,48095340,.,1000,.,376.88412,-1.0,5.08726,119
1,chr20,12838346,12838555,.,1000,.,275.52141,-1.0,5.08726,98
2,chrX,11533197,11533459,.,1000,.,233.20172,-1.0,5.08726,102
3,chr20,59222580,59222781,.,1000,.,248.00196,-1.0,5.08726,108
4,chr17,29180317,29180565,.,1000,.,323.60178,-1.0,5.08726,125
5,chr20,39050143,39050364,.,1000,.,286.34142,-1.0,5.08726,110
6,chr17,35764130,35764337,.,1000,.,262.41330,-1.0,5.08726,105
7,chrX,9995826,9996089,.,1000,.,367.15975,-1.0,5.08726,126
8,chrX,12946826,12947077,.,1000,.,371.63833,-1.0,5.08726,126
9,chr17,29148927,29149149,.,1000,.,233.84271,-1.0,5.08726,107

---

## 4. MERGE operator

**Combine overlapping intervals** from features_a into merged regions.

Similar to `bedtools merge`, this collapses overlapping genomic intervals.

**GIQL Query**: `SELECT MERGE(position) FROM features_a`

In [8]:
# Define GIQL query - basic merge
giql_query = """
    SELECT MERGE(position)
    FROM features_b
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} merged intervals (from {len(features_a)} original)")
result.head(10)

Transpiled SQL:
SELECT
  "chromosome",
  MIN("start_pos") AS start_pos,
  MAX("end_pos") AS end_pos
FROM
  (SELECT
     *,
     SUM(is_new_cluster) OVER (PARTITION BY "chromosome"
                               ORDER BY "start_pos" NULLS LAST) AS __giql_cluster_id
   FROM
     (SELECT
        *,
        CASE
            WHEN LAG("end_pos") OVER (PARTITION BY "chromosome"
                                      ORDER BY "start_pos" NULLS LAST) >= "start_pos" THEN 0
            ELSE 1
        END AS is_new_cluster
      FROM features_b) AS lag_calc) AS clustered
GROUP BY
  chromosome,
  __giql_cluster_id
ORDER BY
  "chromosome" NULLS LAST,
  "start_pos" NULLS LAST

================================================================================

Result: 45630 merged intervals (from 60893 original)

  chromosome  start_pos  end_pos
0       chr1     186654   186964
1       chr1     267979   268128
2       chr1     850424   850734
3       chr1     869711   870021
4       chr1     912864   913174
5       chr1     919635   919945
6       chr1     931626   931936
7       chr1     938195   938352
8       chr1     951414   951724
9       chr1     976080   976390

### MERGE with aggregation CTE

Compute statistics on merged intervals and filter for intervals that merged multiple features.

In [9]:
# Define GIQL query with aggregations in a CTE
giql_query = """
    WITH merged_intervals AS (
        SELECT
            MERGE(position),
            COUNT(*) as interval_count,
            AVG(signal_value) as avg_signal
        FROM features_b
    )
    SELECT *
    FROM merged_intervals
    WHERE interval_count > 1
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} merged intervals with more than 1 original interval")
result.head(10)

Transpiled SQL:
WITH merged_intervals AS
  (SELECT
     "chromosome",
     MIN("start_pos") AS start_pos,
     MAX("end_pos") AS end_pos,
     COUNT(*) AS interval_count,
     AVG(signal_value) AS avg_signal
   FROM
     (SELECT
        *,
        SUM(is_new_cluster) OVER (PARTITION BY "chromosome"
                                  ORDER BY "start_pos" NULLS LAST) AS __giql_cluster_id
      FROM
        (SELECT
           *,
           CASE
               WHEN LAG("end_pos") OVER (PARTITION BY "chromosome"
                                         ORDER BY "start_pos" NULLS LAST) >= "start_pos" THEN 0
               ELSE 1
           END AS is_new_cluster
         FROM features_b) AS lag_calc) AS clustered
   GROUP BY
     chromosome,
     __giql_cluster_id
   ORDER BY
     "chromosome" NULLS LAST,
     "start_pos" NULLS LAST)
SELECT *
FROM merged_intervals
WHERE interval_count > 1

================================================================================

Result: 559 merged intervals with more than 1 original interval

  chromosome  start_pos   end_pos  interval_count  avg_signal
0       chr1    1300073   1300592               2   14.844510
1       chr1    8374912   8375330               2   28.608395
2       chr1    9717307   9717819               2   13.833490
3       chr1   14782921  14783438               2    7.107920
4       chr1   18362141  18362677               2    9.312525
5       chr1   19445773  19446283               2   16.590025
6       chr1   23958874  23959385               2   10.616965
7       chr1   24157968  24158482               2   11.985625
8       chr1   27392817  27393359               2   11.789830
9       chr1   30106143  30106664               2   31.694800

### MERGE with distance parameter

Merge intervals within 1000bp of each other.

In [10]:
# Define GIQL query - merge with distance parameter
giql_query = """
    SELECT MERGE(position, 10000)
    FROM features_b
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} merged intervals (1000bp distance)")
print(f"Compared to: {len(features_a)} original intervals")
result.head(10)

Transpiled SQL:
SELECT
  "chromosome",
  MIN("start_pos") AS start_pos,
  MAX("end_pos") AS end_pos
FROM
  (SELECT
     *,
     SUM(is_new_cluster) OVER (PARTITION BY "chromosome"
                               ORDER BY "start_pos" NULLS LAST) AS __giql_cluster_id
   FROM
     (SELECT
        *,
        CASE
            WHEN LAG("end_pos") OVER (PARTITION BY "chromosome"
                                      ORDER BY "start_pos" NULLS LAST) + 10000 >= "start_pos" THEN 0
            ELSE 1
        END AS is_new_cluster
      FROM features_b) AS lag_calc) AS clustered
GROUP BY
  chromosome,
  __giql_cluster_id
ORDER BY
  "chromosome" NULLS LAST,
  "start_pos" NULLS LAST

================================================================================

Result: 34097 merged intervals (1000bp distance)
Compared to: 60893 original intervals

  chromosome  start_pos  end_pos
0       chr1     186654   186964
1       chr1     267979   268128
2       chr1     850424   850734
3       chr1     869711   870021
4       chr1     912864   919945
5       chr1     931626   938352
6       chr1     951414   951724
7       chr1     976080   984477
8       chr1    1013987  1015656
9       chr1    1063787  1064097

---

## 5. CLUSTER operator

**Assign cluster IDs** to overlapping intervals from features_a.

Similar to `bedtools cluster`, this groups overlapping genomic intervals.

**GIQL Query**: `SELECT *, CLUSTER(position) AS cluster_id FROM features_a`

In [11]:
# Define GIQL query - basic clustering
giql_query = """
    SELECT
        chromosome,
        start_pos,
        end_pos,
        signal_value,
        CLUSTER(position) AS cluster_id
    FROM features_a
    ORDER BY chromosome, start_pos
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} intervals with cluster assignments")
print(f"Number of unique clusters: {result['cluster_id'].nunique()}")
result.head(10)

Transpiled SQL:
SELECT
  chromosome,
  start_pos,
  end_pos,
  signal_value,
  SUM(is_new_cluster) OVER (PARTITION BY "chromosome"
                            ORDER BY "start_pos" NULLS LAST) AS cluster_id
FROM
  (SELECT
     chromosome,
     start_pos,
     end_pos,
     signal_value,
     CASE
         WHEN LAG("end_pos") OVER (PARTITION BY "chromosome"
                                   ORDER BY "start_pos" NULLS LAST) >= "start_pos" THEN 0
         ELSE 1
     END AS is_new_cluster
   FROM features_a) AS lag_calc
ORDER BY
  chromosome,
  start_pos

================================================================================

Result: 60893 intervals with cluster assignments
Number of unique clusters: 5495

  chromosome  start_pos  end_pos  signal_value  cluster_id
0       chr1     181368   181564      27.54796         1.0
1       chr1     186650   186846      19.93098         2.0
2       chr1     267909   268105      88.00863         3.0
3       chr1     586106   586302      35.02027         4.0
4       chr1     729261   729457      23.29415         5.0
5       chr1     778812   779008      56.97663         6.0
6       chr1     850473   850669      27.08243         7.0
7       chr1     858056   858252      15.55869         8.0
8       chr1     869860   869991     168.87294         9.0
9       chr1     904689   904883     167.56897        10.0

### CLUSTER with distance parameter

Cluster intervals within 1000bp of each other.

In [12]:
# Define GIQL query with distance parameter
giql_query = """
    SELECT
        chromosome,
        start_pos,
        end_pos,
        signal_value,
        CLUSTER(position, 10000) AS cluster_id
    FROM features_a
    ORDER BY chromosome, start_pos
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} intervals with cluster assignments (1000bp distance)")
print(f"Number of unique clusters: {result['cluster_id'].nunique()}")
result.head(10)

Transpiled SQL:
SELECT
  chromosome,
  start_pos,
  end_pos,
  signal_value,
  SUM(is_new_cluster) OVER (PARTITION BY "chromosome"
                            ORDER BY "start_pos" NULLS LAST) AS cluster_id
FROM
  (SELECT
     chromosome,
     start_pos,
     end_pos,
     signal_value,
     CASE
         WHEN LAG("end_pos") OVER (PARTITION BY "chromosome"
                                   ORDER BY "start_pos" NULLS LAST) + 10000 >= "start_pos" THEN 0
         ELSE 1
     END AS is_new_cluster
   FROM features_a) AS lag_calc
ORDER BY
  chromosome,
  start_pos

================================================================================

Result: 60893 intervals with cluster assignments (1000bp distance)
Number of unique clusters: 3692

  chromosome  start_pos  end_pos  signal_value  cluster_id
0       chr1     181368   181564      27.54796         1.0
1       chr1     186650   186846      19.93098         1.0
2       chr1     267909   268105      88.00863         2.0
3       chr1     586106   586302      35.02027         3.0
4       chr1     729261   729457      23.29415         4.0
5       chr1     778812   779008      56.97663         5.0
6       chr1     850473   850669      27.08243         6.0
7       chr1     858056   858252      15.55869         6.0
8       chr1     869860   869991     168.87294         7.0
9       chr1     904689   904883     167.56897         8.0

---

## 6. DISTANCE operator

**Calculate genomic distances** between intervals from `features_a` and `features_b`.

Similar to `bedtools closest -d`, this calculates the distance in base pairs between genomic intervals.

**GIQL Query**: `SELECT a.*, b.*, DISTANCE(a.position, b.position) AS distance FROM features_a a, features_b b`

In [13]:
# Define GIQL query with signed distance
# Signed distance (signed=true) returns negative values for upstream features and positive for downstream
# This is similar to bedtools closest -D ref
giql_query = """
    WITH distances AS (
        SELECT
            a.chromosome,
            a.start_pos AS a_start,
            a.end_pos AS a_end,
            b.start_pos AS b_start,
            b.end_pos AS b_end,
            DISTANCE(a.position, b.position, signed=true) AS signed_distance,
            ROW_NUMBER() OVER (
                PARTITION BY a.chromosome, a.start_pos, a.end_pos
                ORDER BY ABS(DISTANCE(a.position, b.position, signed=true))
            ) AS rank
        FROM features_a a
        CROSS JOIN features_b b
        WHERE a.chromosome = b.chromosome
            AND a.chromosome = 'chr1'
            AND a.start_pos < 500000
    )
    SELECT 
        chromosome,
        a_start,
        a_end,
        b_start,
        b_end,
        signed_distance,
        CASE 
            WHEN signed_distance < 0 THEN 'upstream'
            WHEN signed_distance > 0 THEN 'downstream'
            ELSE 'overlap'
        END AS direction
    FROM distances
    WHERE rank = 1
    ORDER BY chromosome, a_start
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} features with directional distances")
print(f"Upstream features: {(result['signed_distance'] < 0).sum()}")
print(f"Downstream features: {(result['signed_distance'] > 0).sum()}")
print(f"Overlapping features: {(result['signed_distance'] == 0).sum()}")
result.head(10)

Transpiled SQL:
WITH distances AS
  (SELECT
     a.chromosome,
     a.start_pos AS a_start,
     a.end_pos AS a_end,
     b.start_pos AS b_start,
     b.end_pos AS b_end,
     CASE
         WHEN a."chromosome" != b."chromosome" THEN NULL
         WHEN a."start_pos" < b."end_pos"
              AND a."end_pos" > b."start_pos" THEN 0
         WHEN a."end_pos" <= b."start_pos" THEN (b."start_pos" - a."end_pos")
         ELSE (a."start_pos" - b."end_pos")
     END AS signed_distance,
     ROW_NUMBER() OVER (PARTITION BY a.chromosome, a.start_pos, a.end_pos
                        ORDER BY ABS(CASE
                                         WHEN a."chromosome" != b."chromosome" THEN NULL
                                         WHEN a."start_pos" < b."end_pos"
                                              AND a."end_pos" > b."start_pos" THEN 0
                                         WHEN a."end_pos" <= b."start_pos" THEN (b."start_pos" - a."end_pos")
                                         ELSE (a."start_pos" - b."end_pos")
                                     END)) AS rank
   FROM features_a AS a
   CROSS JOIN features_b AS b
   WHERE a.chromosome = b.chromosome
     AND a.chromosome = 'chr1'
     AND a.start_pos < 500000)
SELECT
  chromosome,
  a_start,
  a_end,
  b_start,
  b_end,
  signed_distance,
  CASE
      WHEN signed_distance < 0 THEN 'upstream'
      WHEN signed_distance > 0 THEN 'downstream'
      ELSE 'overlap'
  END AS direction
FROM distances
WHERE rank = 1
ORDER BY
  chromosome,
  a_start

================================================================================

Result: 3 features with directional distances
Upstream features: 0
Downstream features: 1
Overlapping features: 2

  chromosome  a_start   a_end  b_start   b_end  signed_distance   direction
0       chr1   181368  181564   186654  186964             5090  downstream
1       chr1   186650  186846   186654  186964                0     overlap
2       chr1   267909  268105   267979  268128                0     overlap

### Signed Distance (Directional)

Calculate **directional distances** where negative values indicate upstream features and positive values indicate downstream features, similar to `bedtools closest -D ref`.

In [14]:
# Define GIQL query - basic distance calculation
# DISTANCE() returns 0 for overlapping intervals, positive integers for gaps between intervals
# Filters to a small region on chr1 for demonstration
giql_query = """
    SELECT 
        a.chromosome,
        a.start_pos AS a_start,
        a.end_pos AS a_end,
        b.start_pos AS b_start,
        b.end_pos AS b_end,
        DISTANCE(a.position, b.position) AS distance
    FROM features_a a
    CROSS JOIN features_b b
    WHERE a.chromosome = b.chromosome 
        AND a.chromosome = 'chr1'
        AND a.start_pos BETWEEN 180000 AND 190000
        AND b.start_pos BETWEEN 180000 AND 200000
    ORDER BY a.start_pos, b.start_pos
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} distance calculations")
print("\nExample distances (0 = overlap, positive = gap in base pairs):")
result.head(10)

Transpiled SQL:
SELECT
  a.chromosome,
  a.start_pos AS a_start,
  a.end_pos AS a_end,
  b.start_pos AS b_start,
  b.end_pos AS b_end,
  CASE
      WHEN a."chromosome" != b."chromosome" THEN NULL
      WHEN a."start_pos" < b."end_pos"
           AND a."end_pos" > b."start_pos" THEN 0
      WHEN a."end_pos" <= b."start_pos" THEN (b."start_pos" - a."end_pos")
      ELSE (a."start_pos" - b."end_pos")
  END AS distance
FROM features_a AS a
CROSS JOIN features_b AS b
WHERE a.chromosome = b.chromosome
  AND a.chromosome = 'chr1'
  AND a.start_pos BETWEEN 180000 AND 190000
  AND b.start_pos BETWEEN 180000 AND 200000
ORDER BY
  a.start_pos,
  b.start_pos

================================================================================

Result: 2 distance calculations

Example distances (0 = overlap, positive = gap in base pairs):

  chromosome  a_start   a_end  b_start   b_end  distance
0       chr1   181368  181564   186654  186964      5090
1       chr1   186650  186846   186654  186964         0

---

## 7. NEAREST operator

**Find the k-nearest genomic features** using the NEAREST operator.

Similar to `bedtools closest`, this finds the closest features to query intervals. The NEAREST operator eliminates the need to write complex window functions for k-nearest neighbor queries.

**Key Features**:
- Find k-nearest features (k=1 for closest, k>1 for multiple neighbors)
- Directional queries with `signed=true` (upstream vs downstream)
- Distance-constrained queries with `max_distance`
- Strand-specific queries with `stranded=true`
- Implicit reference resolution in LATERAL joins (automatically uses outer table's position)

**Database Support**:
- **DuckDB**: Full support (LATERAL joins)
- **SQLite**: Standalone mode only (no LATERAL support)

**GIQL Query**: `SELECT * FROM peaks CROSS JOIN LATERAL NEAREST(genes, k=3)`

In [15]:
# Define GIQL query - find closest feature in B for each feature in A
# This replicates bedtools closest -d functionality using NEAREST(target, k=1)
# The reference position is automatically inferred from the outer table (features_a)
giql_query = """
    SELECT 
        a.chromosome,
        a.start_pos AS a_start,
        a.end_pos AS a_end,
        a.signal_value AS a_signal,
        b.start_pos AS b_start,
        b.end_pos AS b_end,
        b.signal_value AS b_signal,
        distance
    FROM features_a a, NEAREST(features_b, k=1) b
    WHERE a.chromosome = 'chr1'
        AND a.start_pos < 1000000
    ORDER BY a.chromosome, a.start_pos
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame
print(f"Result: {len(result)} features from A with their closest feature in B")
print(f"Average distance to closest feature: {result['distance'].mean():.1f} bp")
print(f"Features overlapping with closest: {(result['distance'] == 0).sum()}")
result.head(10)

Transpiled SQL:
SELECT
  a.chromosome,
  a.start_pos AS a_start,
  a.end_pos AS a_end,
  a.signal_value AS a_signal,
  b.start_pos AS b_start,
  b.end_pos AS b_end,
  b.signal_value AS b_signal,
  distance
FROM
  features_a AS a,

  (SELECT
     features_b.*,
     CASE
         WHEN a."chromosome" != features_b."chromosome" THEN NULL
         WHEN a."start_pos" < features_b."end_pos"
              AND a."end_pos" > features_b."start_pos" THEN 0
         WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
         ELSE (a."start_pos" - features_b."end_pos")
     END AS distance
   FROM features_b
   WHERE a."chromosome" = features_b."chromosome"
   ORDER BY ABS(CASE
                    WHEN a."chromosome" != features_b."chromosome" THEN NULL
                    WHEN a."start_pos" < features_b."end_pos"
                         AND a."end_pos" > features_b."start_pos" THEN 0
                    WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
                    ELSE (a."start_pos" - features_b."end_pos")
                END)
   LIMIT 1) AS b
WHERE a.chromosome = 'chr1'
  AND a.start_pos < 1000000
ORDER BY
  a.chromosome,
  a.start_pos

================================================================================

Result: 24 features from A with their closest feature in B
Average distance to closest feature: 21573.5 bp
Features overlapping with closest: 11

  chromosome  a_start   a_end   a_signal  b_start   b_end  b_signal  distance
0       chr1   181368  181564   27.54796   186654  186964  14.61908      5090
1       chr1   186650  186846   19.93098   186654  186964  14.61908         0
2       chr1   267909  268105   88.00863   267979  268128  49.39366         0
3       chr1   586106  586302   35.02027   850424  850734  15.07029    264122
4       chr1   729261  729457   23.29415   850424  850734  15.07029    120967
5       chr1   778812  779008   56.97663   850424  850734  15.07029     71416
6       chr1   850473  850669   27.08243   850424  850734  15.07029         0
7       chr1   858056  858252   15.55869   850424  850734  15.07029      7322
8       chr1   869860  869991  168.87294   869711  870021  12.42156         0
9       chr1   904689  904883  167.56897   912864  913174  31.07865      7981

### Finding k-Nearest Features

Find the **3 closest features** in B for each feature in A using `k=3`.

In [16]:
# Define GIQL query - find 3 nearest features in B for each feature in A
giql_query = """
    SELECT 
        a.chromosome,
        a.start_pos AS a_start,
        a.end_pos AS a_end,
        a.signal_value AS a_signal,
        b.start_pos AS b_start,
        b.end_pos AS b_end,
        b.signal_value AS b_signal,
        distance
    FROM features_a a, NEAREST(features_b, k=3) b
    WHERE a.chromosome = 'chr1'
        AND a.start_pos < 500000
    ORDER BY a.chromosome, a.start_pos, distance
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame

# Group by feature A to show k neighbors per feature
grouped = result.groupby(["a_start", "a_end"]).size()
print(f"Result: {len(result)} total rows (up to 3 neighbors per feature in A)")
print(f"Number of features from A: {len(grouped)}")
print(f"Average neighbors per feature: {grouped.mean():.1f}")
result.head(15)  # Show first 5 features with their 3 neighbors each

Transpiled SQL:
SELECT
  a.chromosome,
  a.start_pos AS a_start,
  a.end_pos AS a_end,
  a.signal_value AS a_signal,
  b.start_pos AS b_start,
  b.end_pos AS b_end,
  b.signal_value AS b_signal,
  distance
FROM
  features_a AS a,

  (SELECT
     features_b.*,
     CASE
         WHEN a."chromosome" != features_b."chromosome" THEN NULL
         WHEN a."start_pos" < features_b."end_pos"
              AND a."end_pos" > features_b."start_pos" THEN 0
         WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
         ELSE (a."start_pos" - features_b."end_pos")
     END AS distance
   FROM features_b
   WHERE a."chromosome" = features_b."chromosome"
   ORDER BY ABS(CASE
                    WHEN a."chromosome" != features_b."chromosome" THEN NULL
                    WHEN a."start_pos" < features_b."end_pos"
                         AND a."end_pos" > features_b."start_pos" THEN 0
                    WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
                    ELSE (a."start_pos" - features_b."end_pos")
                END)
   LIMIT 3) AS b
WHERE a.chromosome = 'chr1'
  AND a.start_pos < 500000
ORDER BY
  a.chromosome,
  a.start_pos,
  distance

================================================================================

Result: 9 total rows (up to 3 neighbors per feature in A)
Number of features from A: 3
Average neighbors per feature: 3.0

  chromosome  a_start   a_end  a_signal  b_start   b_end  b_signal  distance
0       chr1   181368  181564  27.54796   186654  186964  14.61908      5090
1       chr1   181368  181564  27.54796   267979  268128  49.39366     86415
2       chr1   181368  181564  27.54796   850424  850734  15.07029    668860
3       chr1   186650  186846  19.93098   186654  186964  14.61908         0
4       chr1   186650  186846  19.93098   267979  268128  49.39366     81133
5       chr1   186650  186846  19.93098   850424  850734  15.07029    663578
6       chr1   267909  268105  88.00863   267979  268128  49.39366         0
7       chr1   267909  268105  88.00863   186654  186964  14.61908     80945
8       chr1   267909  268105  88.00863   850424  850734  15.07029    582319

### Directional Queries with signed=true

Find the **3 nearest upstream or downstream features** using `signed=true`.

Negative distances indicate upstream features (B is before A), positive distances indicate downstream features (B is after A).

In [17]:
# Define GIQL query - find 3 nearest features with directional distances
# signed=true returns negative for upstream (B before A) and positive for downstream (B after A)
giql_query = """
    SELECT 
        a.chromosome,
        a.start_pos AS a_start,
        a.end_pos AS a_end,
        b.start_pos AS b_start,
        b.end_pos AS b_end,
        distance,
        CASE
            WHEN distance < 0 THEN 'upstream'
            WHEN distance > 0 THEN 'downstream'
            ELSE 'overlap'
        END AS direction
    FROM features_a a, NEAREST(features_b, k=3, signed=true) b
    WHERE a.chromosome = 'chr1'
        AND a.start_pos < 500000
    ORDER BY a.chromosome, a.start_pos, ABS(distance)
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame

# Analyze directionality
upstream = (result["distance"] < 0).sum()
downstream = (result["distance"] > 0).sum()
overlap = (result["distance"] == 0).sum()

print(f"Result: {len(result)} total nearest features")
print(f"Upstream features (distance < 0): {upstream}")
print(f"Downstream features (distance > 0): {downstream}")
print(f"Overlapping features (distance = 0): {overlap}")
result.head(15)

Transpiled SQL:
SELECT
  a.chromosome,
  a.start_pos AS a_start,
  a.end_pos AS a_end,
  b.start_pos AS b_start,
  b.end_pos AS b_end,
  distance,
  CASE
      WHEN distance < 0 THEN 'upstream'
      WHEN distance > 0 THEN 'downstream'
      ELSE 'overlap'
  END AS direction
FROM
  features_a AS a,

  (SELECT
     features_b.*,
     CASE
         WHEN a."chromosome" != features_b."chromosome" THEN NULL
         WHEN a."start_pos" < features_b."end_pos"
              AND a."end_pos" > features_b."start_pos" THEN 0
         WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
         ELSE (a."start_pos" - features_b."end_pos")
     END AS distance
   FROM features_b
   WHERE a."chromosome" = features_b."chromosome"
   ORDER BY ABS(CASE
                    WHEN a."chromosome" != features_b."chromosome" THEN NULL
                    WHEN a."start_pos" < features_b."end_pos"
                         AND a."end_pos" > features_b."start_pos" THEN 0
                    WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
                    ELSE (a."start_pos" - features_b."end_pos")
                END)
   LIMIT 3) AS b
WHERE a.chromosome = 'chr1'
  AND a.start_pos < 500000
ORDER BY
  a.chromosome,
  a.start_pos,
  ABS(distance)

================================================================================

Result: 9 total nearest features
Upstream features (distance < 0): 0
Downstream features (distance > 0): 7
Overlapping features (distance = 0): 2

  chromosome  a_start   a_end  b_start   b_end  distance   direction
0       chr1   181368  181564   186654  186964      5090  downstream
1       chr1   181368  181564   267979  268128     86415  downstream
2       chr1   181368  181564   850424  850734    668860  downstream
3       chr1   186650  186846   186654  186964         0     overlap
4       chr1   186650  186846   267979  268128     81133  downstream
5       chr1   186650  186846   850424  850734    663578  downstream
6       chr1   267909  268105   267979  268128         0     overlap
7       chr1   267909  268105   186654  186964     80945  downstream
8       chr1   267909  268105   850424  850734    582319  downstream

### Distance-Constrained Queries with max_distance

Find up to **5 nearest features within 50kb** using `max_distance=50000`.

This is useful for finding nearby regulatory elements or associated genes within a biologically relevant distance.

In [ ]:
# Define GIQL query - find up to 5 nearest features within 50kb
# max_distance=1000000 filters out features farther than 50kb
giql_query = """
    SELECT 
        a.chromosome,
        a.start_pos AS a_start,
        a.end_pos AS a_end,
        b.start_pos AS b_start,
        b.end_pos AS b_end,
        distance
    FROM features_a a, NEAREST(features_b, k=5, max_distance=1000000) b
    WHERE a.chromosome = 'chr1'
        AND a.start_pos < 500000
    ORDER BY a.chromosome, a.start_pos, distance
"""

# Transpile to SQL
sql = engine.transpile(giql_query)
print("Transpiled SQL:")
print(
    sqlparse.format(
        sql, reindent=True, keyword_case="upper", indent_columns=True, indent_width=2
    )
)
print("\n" + "=" * 80 + "\n")

# Execute with DuckDB via GIQL engine
cursor = engine.conn.execute(sql)
result = cursor.df()  # Get result as pandas DataFrame

# Analyze distance constraints
grouped = result.groupby(["a_start", "a_end"]).size()
print(
    f"Result: {len(result)} total rows (up to 5 neighbors within 50kb per feature in A)"
)
print(f"Number of features from A: {len(grouped)}")
print(f"Average neighbors per feature: {grouped.mean():.1f}")
print(f"Max distance found: {result['distance'].max()} bp (should be <= 50000)")
print(f"Features with at least one neighbor: {len(grouped)}")
result.head(15)

Transpiled SQL:
SELECT
  a.chromosome,
  a.start_pos AS a_start,
  a.end_pos AS a_end,
  b.start_pos AS b_start,
  b.end_pos AS b_end,
  distance
FROM
  features_a AS a,

  (SELECT
     features_b.*,
     CASE
         WHEN a."chromosome" != features_b."chromosome" THEN NULL
         WHEN a."start_pos" < features_b."end_pos"
              AND a."end_pos" > features_b."start_pos" THEN 0
         WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
         ELSE (a."start_pos" - features_b."end_pos")
     END AS distance
   FROM features_b
   WHERE a."chromosome" = features_b."chromosome"
     AND (ABS(CASE
                  WHEN a."chromosome" != features_b."chromosome" THEN NULL
                  WHEN a."start_pos" < features_b."end_pos"
                       AND a."end_pos" > features_b."start_pos" THEN 0
                  WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
                  ELSE (a."start_pos" - features_b."end_pos")
              END)) <= 1000000
   ORDER BY ABS(CASE
                    WHEN a."chromosome" != features_b."chromosome" THEN NULL
                    WHEN a."start_pos" < features_b."end_pos"
                         AND a."end_pos" > features_b."start_pos" THEN 0
                    WHEN a."end_pos" <= features_b."start_pos" THEN (features_b."start_pos" - a."end_pos")
                    ELSE (a."start_pos" - features_b."end_pos")
                END)
   LIMIT 5) AS b
WHERE a.chromosome = 'chr1'
  AND a.start_pos < 500000
ORDER BY
  a.chromosome,
  a.start_pos,
  distance

================================================================================

Result: 15 total rows (up to 5 neighbors within 50kb per feature in A)
Number of features from A: 3
Average neighbors per feature: 5.0
Max distance found: 731300 bp (should be <= 50000)
Features with at least one neighbor: 3

   chromosome  a_start   a_end  b_start   b_end  distance
0        chr1   181368  181564   186654  186964      5090
1        chr1   181368  181564   267979  268128     86415
2        chr1   181368  181564   850424  850734    668860
3        chr1   181368  181564   869711  870021    688147
4        chr1   181368  181564   912864  913174    731300
5        chr1   186650  186846   186654  186964         0
6        chr1   186650  186846   267979  268128     81133
7        chr1   186650  186846   850424  850734    663578
8        chr1   186650  186846   869711  870021    682865
9        chr1   186650  186846   912864  913174    726018
10       chr1   267909  268105   267979  268128         0
11       chr1   267909  268105   186654  186964     80945
12       chr1   267909  268105   850424  850734    582319
13       chr1   267909  268105   869711  870021    601606
14       chr1   267909  268105   912864  913174    644759

---

## Summary

This demo showcased all 7 GIQL operators:

1. **INTERSECTS**: Binary predicate for overlapping intervals
2. **WITHIN**: Binary predicate for containment (A within B)
3. **CONTAINS**: Binary predicate for containment (A contains B)
4. **MERGE**: Aggregation operator to combine overlapping intervals
5. **CLUSTER**: Aggregation operator to assign cluster IDs to overlapping intervals
6. **DISTANCE**: UDF operator to calculate genomic distances between intervals
7. **NEAREST**: Table-valued function for finding k-nearest genomic features

Each operator was:
- Written in GIQL syntax
- Transpiled to standard SQL
- Executed using DuckDB

This demonstrates how GIQL provides a high-level, intuitive syntax for genomic interval operations while maintaining compatibility with standard SQL engines through transpilation.

In [19]:
# Clean up
# engine.close()